---
layout: page
title: "About Me"
description: ""
header-img: "img/me.jpg"
---
<!-- <script>
window.location.replace("https://twitter.com/phuccoi96");
</script> -->

<p>My name is Harry (PhucCoi).</p>

<!--  I have the privilege of researching Deep Learning and Natural Language Processing under the esteemed <a href="https://twitter.com/ptwobrussell">Matthew Russell</a> at <a href="http://digitalreasoning.com/">Digital Reasoning Systems</a>. He guides our work prototyping machine learning systems that not only need to work in the lab, but at scale on some of the world's greatest problems. These include finding terrorists, insider traders, and more recently child-traffickers. </p> 

<p>We recently <a href="http://arxiv.org/abs/1506.02338">exceeded best published results in neural word embeddings</a>, and subsequently trained the <a href="http://www.digitalreasoning.com/buzz/digital-reasoning-trains-worlds-largest-neural-network-shatters-record-previously-set-by-google.1672770">world's largest artificial neural network</a>. The results of this work were presented at the 32nd International Conference on Machine Learning and published in the Journal of Machine Learning.</p>

<p>If you are interested in using machine learning to change the world (for the better) at Digital Reasoning, please send me a message.</p>

<p>For my background and further information please connect with me on <a href="https://www.linkedin.com/profile/view?id=226572677">my LinkedIn</a></p>

 -->